html{
    color: aliceblue;
}

.row{
    min-height: 50px;
}

[class*="col-"] {
    background-color: blue;

    border: 1px solid white;
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nested{
    padding: 1rem;
}

.row .row [class*="col-"]{
    background-color: blue;
    border: 1px solid white;
}

section{
    margin: 2rem 0;
    border: 1px solid white;
}